<footer>
  <div class="wrapper">
    <ul>
      <li class='list-header'>List Header</li>
      <%= link_to "<li>List 1</li>".html_safe, "#" %>
      <%= link_to "<li>List 2</li>".html_safe, "#" %>
      <%= link_to "<li>List 3</li>".html_safe, "#" %>
      <%= link_to "<li>List 4</li>".html_safe, "#" %>
    </ul>

    <ul>
      <li class='list-header'>List Header</li>
      <%= link_to "<li>List 1</li>".html_safe, "#" %>
      <%= link_to "<li>List 2</li>".html_safe, "#" %>
      <%= link_to "<li>List 3</li>".html_safe, "#" %>
      <%= link_to "<li>List 4</li>".html_safe, "#" %>
    </ul>

    <ul>
      <li class='list-header'>List Header</li>
      <%= link_to "<li>List 1</li>".html_safe, "#" %>
      <%= link_to "<li>List 2</li>".html_safe, "#" %>
      <%= link_to "<li>List 3</li>".html_safe, "#" %>
      <%= link_to "<li>List 4</li>".html_safe, "#" %>
    </ul>

    <div class="logo-container">
      <div class="logo"><%= fa_icon "bullseye" %> LOGO</div>
      <p>Copyright © 2014 Company, Inc.<br>
      1234 Main St. Pleasantville, US 56789</p>
    </div>
  </div>
</footer>
