<footer>
  <div class="wrapper">
    <ul>
      <li class='list-header'>List Header</li>
      <%= link_to "<li>List 1</li>".html_safe, "#" %>
      <%= link_to "<li>List 2</li>".html_safe, "#" %>
      <%= link_to "<li>List 3</li>".html_safe, "#" %>
      <%= link_to "<li>List 4</li>".html_safe, "#" %>
    </ul>
    <ul>
      <li class='list-header'>List Header</li>
      <%= link_to "<li>List 1</li>".html_safe, "#" %>
      <%= link_to "<li>List 2</li>".html_safe, "#" %>
      <%= link_to "<li>List 3</li>".html_safe, "#" %>
      <%= link_to "<li>List 4</li>".html_safe, "#" %>
    </ul>
    <ul>
      <li class='list-header'>List Header</li>
      <%= link_to "<li>List 1</li>".html_safe, "#" %>
      <%= link_to "<li>List 2</li>".html_safe, "#" %>
      <%= link_to "<li>List 3</li>".html_safe, "#" %>
      <%= link_to "<li>List 4</li>".html_safe, "#" %>
    </ul>
  </div>
</footer>
