<header>
  <div class="logo-container">
    <div class="logo"><%= fa_icon "bullseye" %> LOGO</div>
  </div>

  <ul>
    <%=link_to "<li>Link 1</li>".html_safe, "#" %>
    <%=link_to "<li>Link 2</li>".html_safe, "#" %>
    <%=link_to "<li>Link 3</li>".html_safe, "#" %>
    <%=link_to "<li>Link 4</li>".html_safe, "#" %>
    <%=link_to "<li>Link 5</li>".html_safe, "#" %>
  </ul>
</header>
