<% provide :title, "Home" %>
<h1>Hello World</h1>

<p> My name is Alex Villa and for as long as I can remember, my handle has been GolfyMcG</p>

<p>These are some links to help you know more about me</p>

<ul>
  <li><%= link_to "Blog", "#" %></li>
  <li><%= link_to "Twitter", TWITTER_LINK, target: "_blank" %></li>
  <li><%= link_to "Github", GITHUB_LINK, target: "_blank" %></li>
  <li><%= link_to "Resume", "#" %></li>
  <li><%= link_to "LinkedIn", LINKEDIN_LINK, target: "_blank" %></li>
</ul>

<h1>Hello World</h1>

<p> My name is Alex Villa and for as long as I can remember, my handle has been GolfyMcG</p>

<p>These are some links to help you know more about me</p>

<ul>
  <li><%= link_to "Blog", "#" %></li>
  <li><%= link_to "Twitter", TWITTER_LINK, target: "_blank" %></li>
  <li><%= link_to "Github", GITHUB_LINK, target: "_blank" %></li>
  <li><%= link_to "Resume", "#" %></li>
  <li><%= link_to "LinkedIn", LINKEDIN_LINK, target: "_blank" %></li>
</ul>

<h1>Hello World</h1>

<p> My name is Alex Villa and for as long as I can remember, my handle has been GolfyMcG</p>

<p>These are some links to help you know more about me</p>

<ul>
  <li><%= link_to "Blog", "#" %></li>
  <li><%= link_to "Twitter", TWITTER_LINK, target: "_blank" %></li>
  <li><%= link_to "Github", GITHUB_LINK, target: "_blank" %></li>
  <li><%= link_to "Resume", "#" %></li>
  <li><%= link_to "LinkedIn", LINKEDIN_LINK, target: "_blank" %></li>
</ul>
