<!DOCTYPE html>
<html>
  <head>
    <title>GolfyMcG | <%= yield :title %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body class="<%= print_page_namespace %>">
    <%= render 'shared/header' %>

    <div class="content">
      <div class="wrapper">
        <%= yield %>
      </div>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>
